/*
 #37CCBD teal
 #08090A black
 #A7A2A9 silver
 #575A5E dark gray
 #222823 jungle green
*/

header {
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    padding: 20px 0 0;
    background-color: #37CCBD;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
}

section.content {
    padding-top: 100px;
}

.calculater-body {
    background-color: #A7A2A9;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    border-radius: 10px;
    padding: 15px;
}
.content .content-outer {
    max-width: 450px;
    margin: auto;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.calculater-body button.calc-cta {
    font-size: 20px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    color: #fafafa;
    background-color: #08090A;
}

.calc-item {
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
/* gender */
#gender span.button {
    min-width: 69px;
}

/* weight */
#current_weight span.button {
    min-width: 38px;
}

/* height */
#current_height span.button {
    min-width: 45px;
}

.height_option {
    display: none;
}

.height_option.active {
    display: block;
}

/* activity */
#activity {
    flex-wrap: wrap;
}

#activity h6 {
    flex: 100%;
}
#activity span.button {
    min-width: 105px;
}

span.button {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

span.button.active {
    background-color: #37CCBD;
}

.error {
    display: none;
    position: absolute;
    top: 22px;
    font-size: 12px;
    color: #a13e3e;
}

.results_body {
    display: none;
}

.results_body.show {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 20px auto;
    background-color: #A7A2A9;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    border-radius: 10px;
    padding: 15px;
}

.results_body div {
   flex: 100%; 
}